header{
    background:url(../images/image-hero-desktop.jpg) center/cover no-repeat;
    min-height: 60vh;
    @include breakpoint-down(small){
        background:url(../images/image-hero-mobile.jpg) center/cover no-repeat;

    }
}
.nav{
    width: 90%;
    max-width: 80rem;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    @include breakpoint-down(small){
        padding-top: 1rem;
    }

    &__menu 
    {
        @include breakpoint-down(small){
             opacity: 0;
            display: flex;
            z-index: 2;
            flex-direction: column;
            position: absolute;
            top: 4rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: $white;
            width: 85%;
            margin: 0 auto;
            border-radius: 10px
        }

        a{
        color: white;
        text-decoration: none;
        font-size: 0.875rem;
        opacity: 0.8;
        transition: 0.3s;
        &:not(:last-child){
            margin-right: 1rem;
            @include breakpoint-down(small){
                margin: 0;
                border-bottom: 1px solid rgba(128, 128, 128, 0.151);
            }
        }
        &:hover{
            opacity: 1;
        }
         @include breakpoint-down(small){
            color: $black;
            padding: 1.5rem 10%;
            font-weight: 700;
            
        }
       
    }
}
&__toggle{
    width: 2rem;
    height: 2rem;
    transition: 0.4s;
    // border: 2px solid red;
    cursor: pointer;
    background: url(../images/icon-hamburger.svg) center/cover no-repeat;
    background-size: 60%;
    transition: 0.4s;
    @include breakpoint-up(medium){
        display: none;
    }
}
}

body{
    &.open{
        overflow: hidden;
        &::before{
            @include breakpoint-down(small){
                content: '';
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: 0;
                animation: fade-in 1s forwards;
                background:linear-gradient(
                 rgba(0,0,0,0.5) 60%,
                    rgba(0,0,0,0.3)
                );
            }
        }
    }
}

.nav__toggle.open{
    background: url(../images/icon-close-menu.svg) center/cover no-repeat;
    background-size: 60%;
}
.nav__menu.open{
    animation: fade-in 1s forwards;
}

@keyframes fade-in{
    to{
        opacity: 1;
    
    }
}